// variables
@import "../../styles/variables.scss";

.searchResults {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h2 {
    margin: 24px 0;
    color: #F97821;
    font-weight: bold;
  }

  p {
    color: $neu-09;
    margin-bottom: 24px;
    max-width: 360px;
    text-align: center;

    a {
      color: #3D92D1;
      transition: all 0.2s ease;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}
.pagination {
  display: flex;
  justify-content: center;
  padding: 20px 0;

  a {
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
    color: #333;
    text-decoration: none;

    &:hover {
   
    }
  }

  .pagination__arrowPrev,
  .pagination__arrowNext {
    background-color: #f4f4f4;
    cursor: pointer;

    &:disabled {
      background-color: #f4f4f4;
      cursor: not-allowed;
    }
  }

  .active {
    background-color: #F97821;
    
    margin: 0 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
    color: #333;
    text-decoration: none;
    color: white;
  }

  
}