@import "../../styles/variables.scss";
.invitefriends {
  margin-top: 100px;
  width: 100%;

  padding: 0 200px;
  &__wrapper {
    padding: 0 32px;

    @include sm {
      padding: 0 16px;
    }
  }

    &__inputWrapper {
    display: flex;
    align-items: center;
    width: 100%;
    
    bg
    svg {
      position: absolute;
      left: 16px;
    }

    input {
      height: 40px;
      padding: 0 24px 0 40px;
      border: solid 1px $neu-06;
      border-radius: 8px;
      width: 100%;
    }
  }

 
}


