// variables
@import "../../styles/variables.scss";

.sideBarVideo {
  width: 100%;
  max-width: 300px;
  padding-top: 64px;
  padding-left: 32px;
  border-left: solid 1px $neu-06;
  margin-right: 24px;
  // background-color: $neu-04;
  @include xs {
    display: none;
  }

  &__wrapper {
   
    position: relative;
    padding-right: 24px;
    position: sticky;
    top: 160px;
    right: 0;
  }

  &__header {
    @include font-s;
    font-weight: bold;
    margin-bottom: 24px;
  }

  &__lists {
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0px;
    }

    h4 {
      font-size: 14px;
      font-weight: bold;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      overflow: hidden;
      visibility: visible;
      color: $neu-09;
    }
  }

  &__image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    position: relative;
    transition: all 0.2s ease;

    &:hover {
      opacity: 0.7;
    }

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 2;
      border-radius: 8px;
    }

    img {
      width: 140px;
      border-radius: 8px;
    }

    svg {
      position: absolute;
      z-index: 2;
    }
  }
}