// variables
@import "../../styles/variables.scss";

.sideBarProfile {
  margin-top: 60px;
  background-color: $neu-04;
  // width: 100%;
  max-width: 300px;
  height: 100vh;
  position: sticky;
  top: 72px;
  left: 0;
  border-right: solid 1px $neu-06;

  @include sm {
    display: none;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    height: 100%;
    overflow-y: scroll;
    background-color: white;

    &::-webkit-scrollbar {
      width: 0px;
    }
  }

  &__bg {
    position: absolute;
    height: 130px;
    width: 100%;
    z-index: 2;
    img {
      z-index: -1;
    }
  }

  &__header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    margin-top: 140px;
    background-color: white;
  }

  &__userImg {
    width: 64px;
    height: 64px;
    margin-top: -40px;
    border-radius: 100%;
    border: solid 4px white;

    img {
      width: 100%;
    }
  }

  &__name {
    color: $neu-09;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  &__infos {
    display: flex;
    align-items: center;
    // background-color: $m-01;
    border-radius: 20px;
    // color: white;
    height: 32px;
    padding: 0 14px;
   
    div {
      display: flex;
      align-items: center;
      margin-right: 8px;

      &:last-child {
        margin-right: 0px;
      }
      span {
        
        font-weight: bold;
        margin-right: 2px;
      }
    }
  }

  &__action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 0;
    background-color: white;

    p {
      width: 40px;
      height: 40px;
      background-color: #a3a3a32e;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      svg {
        width: 24px;
        height: 24px;
        margin-top: 4px;
      }
    }

    span {
      padding: 6px 20px;
   
      background-color: #a3a3a32e;
      border-radius: 20px;
      margin: 0 4px;
      font-weight: bold;
      cursor: pointer;
    }

    div {
      color: #7292f2;
      cursor: pointer;
    }
  }

  &__btn--follow {
    width: 94px;
height: 38px;
gap: 0px;
border-radius: 20px;
color: white;
opacity: 0.4px;
background-color: #4ABC96;
margin-right: 8px;
  }


   &__btn--invite {
    width: 150px;
height: 38px;
gap: 0px;
border-radius: 20px;
color: white;
opacity: 0.4px;
background-color: 
#ED7D29;
margin-right: 8px;
  }

  &__btn--join {
    width: 250px;
height: 38px;
gap: 0px;
border-radius: 20px;
color: white;
opacity: 0.4px;
background-color: #A3A3A3;
margin-right: 8px;
  }

  &__btn--suggest {
    display: flex;
    padding: 30px 10px;
    opacity: 0.4px;
  }

  &__desc {
    padding-bottom: 32px;
    border-bottom: solid 1px #d1d1d1;
  }

  &__awards {
    height: 100%;
    
  }

  &__lists {
    margin-top: 32px;
    padding-bottom: 100px;
    background-color: white;
    border-bottom: solid 1px #d1d1d1;
  }

  &__list {
    display: flex;
    align-items: center;
    margin-bottom: 32px;

    i {
      min-width: 48px;
      min-height: 48px;
      background-color: #0487d95b;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 8px;

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
}


.chat {
  &__wrapper {
    @include sm {
      padding: 0 16px;
    }
  }


  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    border-radius: 20px;
    background-color: rgba(163, 163, 163, 0.1803921569);
    border-radius: 100%;
    margin: 0 4px;
    font-weight: bold;
    cursor: pointer;


    &:hover {
      .chat__popup {
        opacity: 1;
        pointer-events: inherit;
      }
    }

    @include sm {
      font-size: 22px;
      line-height: 40px;
    }

    @include xs {
      width: 36px;
      height: 36px;
      border-radius: 15px;
    }

    &.active {
      border: solid 2px #f26f21;
    }
  }

  

  &__popup {
    position: absolute;
    width: 280px;
    z-index: 4;
    top: 50px;
    left: -40px;
    opacity: 0;
    transition: all 0.4s ease;
    pointer-events: none;
    
  }

  &__popupItem {
    display: flex;
    align-items: center;
  
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.4s ease;
   
    &:hover {
      background-color: #f5f5f5;
    }

    &__icon {
      width: 32px;
      height: 32px;
      border-radius: 100%;
      background-color: #f5f5f5;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 8px;

      svg {
        width: 16px;
        height: 16px;
      }
    }

    &__text {
      font-size: 14px;
      font-weight: bold;
    }
  }
&__popupIcon {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;

    svg {
      width: 16px;
      height: 16px;
    }
  }

  &__popupText {
    font-family: Mulish;
font-size: 10px;
font-weight: 500;
color: #404040 !important;
line-height: 17.57px;
text-align: left;

  }

  &__popupWrapper {
    padding: 10px 32px;
     
    background-color: white;
  
    align-items: center;
    border-radius: 8px;
    position: relative;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    &:before {
      width: 64px;
      height: 64px;
      background-color: white;  
      content: "";
      position: absolute;
      z-index: -1;
      top: -8px;
      left: 26px;
      transform: rotate(135deg);
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    }
  }


}
