// variables
@import "../../styles/variables.scss";

.sideBarUser {
  margin-top: 60px;
  // background-color: $neu-04;
  width: 100%;
  max-width: 400px;
  height: 100vh;
  position: sticky;
  top: 72px;
  left: 0;
  border-right: solid 1px $neu-06;
  

  @include sm {
    display: none;
  }


  &__textItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    color: #666666;
    span {
      padding-right: 16px;
    }
  }

  &__textItem--1 {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    align-items: center;
    margin-right: 24px;
    height: 32px;
    color: #FCAA17;
    span {
      padding-right: 16px;
    }
  }


   &__textItem--2 {
    display: flex;
     font-weight: bold;
    justify-content: space-between;
    align-items: center;
    margin-right: 24px;
    height: 32px;
    color: #0487D9;
    span {
      padding-right: 16px;
    }
  }
  &__code {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    color: #666666;
    span {
      padding-right: 16px;
    }
  }


  &__wrapper {
    display: flex;
    // align-items: center;
    margin-top: 40px;
    flex-direction: column;
    // padding: 0 24px;
    height: 100%;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 0px;
    }
  }

  &__header {
    color: $neu-09;
    font-size: 18px;
    margin: 24px 0;
  }

  &__listItem {
    display: flex;
    // align-items: center;
    // justify-content: center;
    padding: 0 24px;
    margin-bottom: 24px;

  }

  &__recharge {
    font-family: Mulish;
    font-size: 14px;
    font-weight: 700;
    line-height: 17.57px;
    text-align: left;
    color: white;
    background:#4ABC96;
    padding:  6px 24px;
    border-radius: 16px;
    margin-bottom: 24px; 
    &:hover {
      opacity: 0.7;
    }
  }

  &__image {
    margin-right: 16px;
    img {
      width: 84px;
      height: 84px;
      border-radius: 100%;
    }

  
  }

  &__text {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    h4 {
      color: $neu-09;
      transition: all 0.2s ease;
      
      &:hover {
        opacity: 0.7;
      }
    }
    span {
      padding-top: 8px;
      padding-left: 4px;
      color: #FCAA17;

    }
  }

  &__btn {
    background-color: #f1f1f1;
    border-radius: 8px;
    padding: 0 32px;
    height: 40px;
    display: flex;
    align-items: center;
    color: $neu-09;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      opacity: 0.7;
    }

    svg {
      margin-right: 8px;
    }
  }

  &__settings {
    color: $neu-09;
    font-weight: bold;

    margin-top: 32px;
  }
}



.inforNav {
  $this: &;
  position: relative;
  width: 100%;
  height: 72px;
  position: fixed;
  top: 0;
  z-index: 3;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    width: 100%;
    height: 100%;
    background-color: white;
    border-bottom: solid 1px $neu-06;
  }

  &__logo {
    transition: all 0.2s ease;

    &:hover {
      opacity: 0.7;
    }
    @include sm {
      img {
        width: 160px;
      }
    }
  }

 &__links {
    // text-align: left;
  padding: 24px 24px;
    @include sm {
      display: none;
    }

    @include md {
      display: none;
    }
}
  &__linkItem {
    display: flex;
   
    padding-top: 8px;
    padding-bottom: 8px;
    align-items: center;
   
    color: $neu-09;
    @include font-xs;
    font-weight: bold;
    transition: all 0.2s ease;

    &:hover {
      opacity: 0.7;
    }

    svg {
      margin-right: 16px;
      
    }

    &.active {
      svg {
        path {
          fill: $m-01--light-01;
        }
      }

      color: $m-01--light-01;
      
    }

    // &:last-child {
    //   margin-right: 0px;
    // }
  }

  &__aside {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__message,
  &__notification,
  &__avatar {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin-right: 14px;
    cursor: pointer;
    transition: all 0.2s ease;

    // &:hover {
    //   opacity: 0.7;
    // }
  }

  &__message,
  &__notification {
    background-color: $neu-05;
  }

  &__message {
    &:hover {
      .popupMessage {
        opacity: 1;
        pointer-events: initial;
      }
      .popupMessage__contentAside {
        display: block;
      }
    }
  }

  &__avatar {
    cursor: pointer;
    position: relative;
    @include xs {
      margin-right: 0px;
    }

    &:hover {
      .popupUser {
        opacity: 1;
        pointer-events: initial;
      }
    }
  }

  &__lang {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $neu-09;
    font-weight: bold;

    @include xs {
      display: none;
    }

    span {
      margin: 0 4px;
      @include font-xs;
    }
  }
}

.information{
  margin-top: 60px;
  padding: 0 24px;
  background-color: $neu-04;

&__lang {
  

    @include xs {
      display: flex;
    justify-content: center;
    align-items: center;
    color: $neu-09;
    font-weight: bold;
    }

    span {
      margin: 0 4px;
      @include font-xs;
    }
  }
  &__logout {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    cursor: pointer;
    color: $neu-09;
    font-weight: bold;
    transition: all 0.2s ease;

    &:hover {
      opacity: 0.7;
    }
  }
 display: none;
  @include sm {
    display: block;
   
  }

   &__image {
    margin-right: 16px;
    img {
      width: 84px;
      height: 84px;
      border-radius: 100%;
    }
    @include sm {
      margin-right: 0px;
      margin-top: 20px;
      img {
        width: 64px;
        height: 64px;
      }
    }
  }

  &__header {
    color: $neu-09;
    font-size: 18px;
    margin: 24px 0;
    border-bottom: solid 1px $neu-06;
  }
  &__wrapper {
    display: flex;
    align-items: center;
    margin-top: 40px;
    flex-direction: column;
    padding: 0 24px;
    height: 100%;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 0px;
    }
  }
  @include sm {
    padding: 0 16px;
  }
  &__text {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    h4 {
      color: $neu-09;
      transition: all 0.2s ease;
      
      &:hover {
        opacity: 0.7;
      }
    }
    span {
      padding-top: 8px;
      padding-left: 4px;
      color: #FCAA17;

    }
  }


    &__linkItem {
    display: flex;
    align-items: center;
   
    color: $neu-09;
    @include font-xs;
    font-weight: bold;
    transition: all 0.2s ease;

    &:hover {
      opacity: 0.7;
    }

    svg {
      margin-right: 16px;
      
    }

    &.active {
      svg {
        path {
          fill: $m-01--light-01;
        }
      }

      color: $m-01--light-01;
      
    }

    // &:last-child {
    //   margin-right: 0px;
    // }
  }


  &__links{
    display: flex;
    gap: 16px;
   justify-content: center;
    background-color: beige;
    border-radius: 8px;
    padding:  16px 0;
    a {
      color: $neu-09;
      font-weight: bold;
      transition: all 0.2s ease;

      &:hover {
        opacity: 0.7;
      }
    }

    
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

    h2 {
      color: $neu-09;
      font-size: 24px;
    }

    button {
      background-color: $neu-05;
      border-radius: 8px;
      padding: 8px 16px;
      color: $neu-09;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.2s ease;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  &__item {
    width: calc(50% - 12px);
    background-color: $neu-04;
    border-radius: 8px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    h3 {
      color: $neu-09;
      font-size: 20px;
    }

    p {
      color: $neu-09;
      font-size: 16px;
    }

    button {
      background-color: $neu-05;
      border-radius: 8px;
      padding: 8px 16px;
      color: $neu-09;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.2s ease;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}

listItem {
  display: flex;
  align-items: center;
  margin-bottom: 24px;

 
}


.body__wrapper {
  display: flex;

  @include sm {
    display: inline;
  }
}

.siderBarUser__ComboCode {
    padding: 0 24px;
  border-bottom: 3px solid #D1D1D1;
  span {
    padding-right: 16px;
  }
}