// variables
@import "../../styles/variables.scss";

.ads {
  width: 100%;
  max-width: 300px;
  padding-top: 100px;
  padding-bottom: 80px;
  background-color: #F9F9F9;
  border-left: solid 1px $neu-06;

  @include sm {
    display: none;
  }

  &__wrapper {
    padding: 0 24px;
    position: sticky;
    top: 100px;

    @include sm {
      padding: 0 16px;
    }
  }

  &__image {
    img {
      border-radius: 4px;
    }
  }
  
  &__card {
    margin-bottom: 24px;
    display: block;
    transition: all 0.2s ease;

    &:hover {
      opacity: 0.7;
    }
  }
}

.sideBarMessageRight {
  margin-top: 60px;
  background-color: $neu-04;
  width: 100%;
  max-width: 300px;
  height: 100vh;
  position: sticky;
  top: 72px;
  left: 0;
  border-right: solid 1px $neu-06;
  
  &__more {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin: 0 24px;
    width: 160px;
    height:  40px;
    background-color:  #0487D9;
    color: white;
    margin-bottom: 24px;
  }
  @include sm {
    display: none;
  }

  &__wrapper {
    
    display: flex;
    flex-direction: column;
    padding: 0 24px;
    height: 100%;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 0px;
    }
  }

  &__header {
    color: $neu-09;
    padding: 0 24px;
    font-size: 18px;
    margin: 24px 0;
  }

  &__listItem {
        padding: 0 24px;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
  }

  &__image {
    margin-right: 16px;
    img {
      width: 64px;
      height: 64px;
      border-radius: 100%;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;

    h4 {
      color: $neu-09;
      transition: all 0.2s ease;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  &__btn {
    
    background-color: #f1f1f1;
    border-radius: 8px;
    padding: 0 32px;
    height: 40px;
    display: flex;
    align-items: center;
    color: $neu-09;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      opacity: 0.7;
    }

    svg {
      margin-right: 8px;
    }
  }

  &__settings {
    color: $neu-09;
    font-weight: bold;

    margin-top: 32px;
  }
}
