.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    max-width: 600px;

    &__input {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        // border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        background-color: #f9f9f9;
    }


    &__image {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    }

    &__image__icon {
        width: 46px;
        height: 46px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        margin-right: 8px;
        background-color: #f9f9f9;
        svg {
            width: 16px;
            height: 16px;
        }
    }

 &__ruleItem {
    display: flex;
    align-items: center;
    padding: 8px 0;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.08px;
    text-align: left;
    color: #505050;
    transition: all 0.2s ease;
    cursor: pointer;

    span {
       
        color: black;
        font-weight: 800;
        padding: 0 8px;
    }

    &:hover {
        opacity: 0.7;
    }
}

&__input--checkbox {
  
    margin-right: 8px;
}
&__close {
    position: absolute;
    top: -30px;
    right: -30px;
    cursor: pointer;
    color: #333;
    font-size: 20px;
    transition: all 0.2s ease;
    &:hover {
        opacity: 0.7;
    }
}

&__close_suggest {
    position: absolute;
    top: -30px;
    right: 10px;
    cursor: pointer;
    color: #333;
    font-size: 20px;
    transition: all 0.2s ease;
    &:hover {
        opacity: 0.7;
    }
}

&__title {
   font-family: Mulish;
font-size: 20px;
font-weight: 800;
line-height: 25.1px;
text-align: left;
color: #0487D9;

}

&__body {
    margin-top: 16px;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}

&__textarea {
    width: 100%;
    height: 100px;
        font-size: 16px;
    // padding: 10px;
    padding-left: 5px;
    background-color: #f9f9f9;
}

&__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #148EDB;
    color: white;
    padding: 8px 64px;
    border-radius: 5px;
    margin-top: 10px;
    
}Thông tin cá nhân


&__input--donate {
  
    padding: 10px;
    margin: 10px  10px ;
   background-color: #f9f9f9;
    color: black;
    border-radius: 5px;
    font-size: 16px;
}
&__donate {
    border: 1px solid #E2E2E2;
    color: white;
        justify-content: center;
        align-items: center;
        padding: 8px 64px;
        border-radius: 5px;
         margin-bottom: 10px;
    &__title {
        font-family: Mulish;
        font-size: 16px;
        font-weight: 400;
        line-height: 15.06px;
        text-align: center;
        color: #505050;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

&__title__donate {
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
    line-height: 25.1px;
    text-align: left;
    color: #0487D9;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
&__donate--wrapper {
     display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 5px;
    &__input--donate {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        // border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        background-color: #f9f9f9;
    }

}



   &__choose--option {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 0;
        font-family: Mulish;
        font-size: 16px;
        font-weight: 400;
        line-height: 20.08px;
        text-align: left;
        color: white;
        transition: all 0.2s ease;
        cursor: pointer;

        span {
            color: black;
            font-weight: 800;
            padding: 0 8px;
        }

        &:hover {
            opacity: 0.7;
        }

        &__title {
           background-color: #0487D9;
            padding: 8px 30px;
            margin-bottom: 10px;
            // border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }

        &__svg {
         
            left: 0px !important;
        }
    
    }


      .popup__choose--option input[type="radio"] {
            opacity: 0;
            position: absolute;
            width: 0;
            height: 0;
            background-color: #f9f9f9;
        }
 
&__btn {
    padding: 12px 16px;
    background-color: #E2E2E2;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    transition: all 0.2s ease;
    display: flex;
}
    }


 

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1000;
    }