// variables
@import "../../styles/variables.scss";

.historys {
  width: 100%;
  margin-top: 100px;
  padding:0 60px ;
  padding-bottom: 120px;

  @include sm {
    margin-top: 20px;
    padding:0 0 ;
    padding-bottom: 120px;
  }
  &__wrapper {
  
    @include sm {
      padding: 0 16px;
    }
  }


  &__body {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__status {
      font-size: 14px;
     
      &--success {
        color: #4ABC96;
      }
      &--failed {
        color: #FF5C5C;
      }
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px 20px;
    margin-top: 32px;

    @include sm {
      grid-template-columns: 1fr;
    }

    
  }


  &__item {
     width: 100%;
    border: solid 1px $neu-06;
    border-radius: 8px;
    padding: 8px;
    margin: 8px 16px;
    // width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    // hover effect

    &__time {
      margin-right: auto;
    }
     &__body{
    
      p {
        font-size: 14px;
        color: #505050;
      
      }
    }
  &:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    background-color: aliceblue;
  }
  &__header{
    margin: 0 16px;
    width: 80px;
    height: 80px;
  }

  &__content{
    display: flex;
    flex-direction: row;
    
    width: 100%;
   
  }

  }

  &__image {
    margin-right: 8px;
    img {
      width: 150px;
      height: 150px;
      object-fit: cover;
    }
  }

  &__itemContent {
    width: 100%;
  }

   &__titleHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    padding: 8px 16px;
    background-color: #F4F5F8;
  }


}
