// variables
@import "../../styles/variables.scss";

.relatedPagesAlt {
 display: flex;
  justify-content: center;
  align-items: center;
  
  width: 100%;
  margin-top: 92px;
  margin-bottom: 32px;;




  &__wrapper {
    padding: 0 24px;

    h4 {
      margin-bottom: 16px;
      @include font-s;
      font-weight: bold;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      overflow: hidden;
      visibility: visible;
    }

    @include sm {
      padding: 0 16px;
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 24px;
    padding: 20px;
    border-radius: 4px;

    @include md {
      grid-template-columns: repeat(3, 1fr);
    }

    @include sm {
      grid-template-columns: repeat(2, 1fr);
    }

    @include xs {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    transition: all 0.2s ease;
    position: relative;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 10px;

    &:hover {
      opacity: 0.7;
    }
  }
}