// variables
@import "../../styles/variables.scss";

.inforform {
  width: 100%;
  margin-top: 100px;
  padding:0 60px ;
  padding-bottom: 120px;

  @include sm {
    margin-top: 20px;
    padding:0 0 ;
    padding-bottom: 120px;
  }
   &__wrapper {
    padding: 0 32px;

    @include sm {
      padding: 0 16px;
    }
  }
}
.inforUser {
  box-shadow: 2px 2px 10px rgba(166, 166, 166, 0.2);
  position: absolute;
  width: 700px;
  top: 60px;
  right: -40px;
  background-color: white;
  z-index: 4;
  border-radius: 8px;
  transition: all 0.4s ease;
  cursor: initial;
  opacity: 0;
  pointer-events: none;

  &:before {
    width: 64px;
    height: 64px;
    background-color: white;
    content: "";
    position: absolute;
    top: -10px;
    right: 28px;
    transform: rotate(45deg);
    z-index: 2;
  }

  &:after {
    width: 100%;
    height: 40px;
    content: "";
    position: absolute;
    top: -32px;
    right: 0px;
    z-index: 2;
  }

  &__wrapper {
    padding: 16px;
    overflow-y: scroll;
    height: 520px;
  }



  &__infoText {
    p {
      color: #fcaa17;
      font-weight: bold;
      font-size: 18px;

      svg {
        margin-right: 4px;
        transform: translateY(4px);
      }

      span {
        margin-left: 4px;
        font-size: 14px;
      }
    }
  }

  &__btn {
    background-color: #3d92d1;
    padding: 4px 32px;
    border-radius: 20px;
    color: white;
    z-index: 2;
    transition: all 0.2s ease;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }

  &__infoHeader {
    background-color: #f4f5f8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    margin: 10px 0;
    cursor: pointer;

    svg {
      transition: all 0.2s ease;
      &.active {
        transform: rotate(90deg);
      }
    }
  }

  &__inputWrapper {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__input {
    margin-right: 32px;
    width: 100%;
    margin-bottom: 24px;

    &:last-child {
      margin-right: 0px;
    }
    input {
      border-bottom: solid 1px $neu-09;
      padding: 4px 0px;
      padding-right: 24px;
      font-size: 14px;
      font-weight: bold;
      width: 100%;
    }

    svg {
      position: absolute;
      right: 0px;
    }
  }

  &__form {
    display: none;

    &.active {
      display: initial;
    }
  }
}