:root {
  --size-wheel: 25rem;
}


.SecretGiftBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
 justify-content: center;
    // align-items: center;
    width: 100%;
  padding: 100px;




  img {
    margin-right: 20px;
  }
  h1 {
    font-family: Mulish;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.52px;
    color: #0487D9;
  }
  &__header{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-bottom: 20px;
    h1 {
      font-family: Mulish;
      font-size: 24px;
      font-weight: 700;
      line-height: 29.52px;
    }
    p {
      font-family: Mulish;
      font-size: 14px;
      font-weight: 400;
      line-height: 17.57px;
      text-align: center;
      color: #797979;
    }

    li {
    padding: 3px;  
   }
  }

  &__lucky {
    // grid 
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    background: #FEFCEF;
    padding: 20px;
  }

  &__lucky__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // có thể click
    cursor: pointer;
    
    // hover img to ra 1 chút

    
   
    img {
     
      margin: 0 auto;

      :hover {
        transform: scale(1.54);
      }
    }
  }
}

