@import "../../styles/variables.scss";

.MinigamePage {
  display: flex; 
}

.SidbarGame {
    width: 20%;
    border-right: 1px solid #D1D1D1;
  
    &__wrapper {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        // align-items: center;
        padding: 20px 20px;
        font-family: Mulish;
        font-size: 14px;
        font-weight: 700;
        line-height: 25.1px;
        text-align: left;

        
    }

    &__time {
        display: flex;
        flex-direction: column;
        font-size: 32px;
    }

    &__item {
        margin-top: 20px;
        cursor: pointer;
        display: flex;
        align-items: center;

        svg {
            margin-right: 10px;
        }
        &:hover {
            color: #F26F21;
        }
    }
} 

.SidbarRule {
  height: 100vh;
    width: 20%;
    border-left: 1px solid #D1D1D1;

    &__wrapper {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        // align-items: center;
        padding: 20px 20px;
        
        font-family: Mulish;
        font-size: 20px;
        font-weight: 700;
        line-height: 25.1px;
        text-align: left;
    }

    &__item {
        margin-top: 20px;
        cursor: pointer;
        display: flex;
        align-items: center;
        font-size: 16px;
        svg {
            margin-right: 10px;
        }
        &:hover {
            color: #F26F21;
        }
    }
}

.Minigame {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

    &__wrapper {
        display: flex;
        // grid 
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        padding: 20px 20px;
        font-family: Mulish;
        font-size: 14px;
        font-weight: 700;
        line-height: 25.1px;
        text-align: left;
        
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px 20px;
        background-color: #F6F7FA;
        // border: 1px solid #D1D1D1;
        border-radius: 10px;
        margin: 10px;
        cursor: pointer;
        transition: all 0.3s;

        // p 

        img {

        }
        h4 {
            font-family: Mulish;
            font-size: 24px;
            font-weight: 700;
            line-height: 30.12px;
            text-align: center;
            color: #0487D9;
            margin: 0 auto;
            padding: 10px 0;
        }
        p {
            font-family: Mulish;
            font-size: 16px;
            font-weight: 700;
            line-height: 20.08px;
            text-align: center;
            color: #505050;
            margin: 0 auto;
        }
        &:hover {

           border: 1px solid #FDF309;
           box-shadow: 0px 0px 10px 0px #FDF309;
        }

    } 

    &__title {
        font-family: Mulish;
font-size: 24px;
font-weight: 700;
line-height: 30.12px;
text-align: left;
color: #F26F21;
margin-top: 20px;
    }

    &__title--content {
       font-family: Mulish;
        font-size: 16px;
        font-weight: 500;
        line-height: 20.08px;
text-align: left;
color: #505050;
    }

    &__time {
        border-right: 1px solid #000;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 0 20px;
    }

    &__time--content {
         font-family: Mulish;
        font-size: 36px;
        font-weight: 700;
        line-height: 45.18px;
        text-align: left;
        color: #505050;
    }

    &__point {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 20px;
    }

    &__point--content {
        font-family: Mulish;
        font-size: 36px;
        font-weight: 700;
        line-height: 45.18px;
        text-align: left;
        color: #505050;
    }
    &__rule {
        // grid: ;
        display: grid;
        grid-template-columns: 1fr 1fr;
       
        margin-bottom: 20px;
      
    }

    &__btn{
        display: flex;
        flex-direction: column;
    }
    &__btn--choose {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
        background: #F4F4F4;
        padding: 0 30px;
        border-radius: 50px;
        margin-top: 10px;
        cursor: pointer;

        // hover
        &:hover {
            background: #F26F21;
            color: #fff;
        }
    }
}