// variables
@import "../../styles/variables.scss";

.schoolDetail {
  margin-top: 100px;
  width: 100%;

  &__wrapper {
    padding: 0 40px;

    p {
      color: $neu-09;
      padding: 24px 0;
    }

    blockquote {
      color: $neu-09;
    }

    @include sm {
      padding: 0 16px;
    }
  }

  &__headerTop {
    height: 220px;
    background: url("../../assets/images/banner.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__headerBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translateY(-40px);
    padding: 0 40px;
    background-color: #f7f7f7;

    @include sm {
      display: inline ;
      background-color: white;
    }
  }



  &__left {
    display: flex;
    align-items: center;

    @include sm {
      display: inline ;
    }
    img {
      width: 124px;
      height: 124px;
      border-radius: 100%;
      margin-right: 16px;
      transform: translateY(-64px);
    }
  }

  &__text {
   
    h4 {
      font-size: 24px;
      color: $m-01;
    }
    div {
      display: flex;
      align-items: center;
      margin-top: 4px;
    }

    a {
      color: #ed7d29;
    }
    @include sm {
      transform: translateY(-64px);
    }
  }

  &__icon {
    margin-right: 32px;

    svg {
      margin-left: 8px;
    }
  }

  &__right {
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a {
      color: #ed7d29;
    }

    @include sm {
       transform: translateY(-40px);
       display: inline ;
    }

    
  }

  &__bottom {
    // display: flex;
    justify-content: space-between;
        transform: translateY(-40px);
    align-items: center;
    padding: 16px 0;
    border-bottom: 1px solid #f1f1f1;

    @include sm {
      display: inline ;
    }

    div {
      display: flex;
      align-items: center;
    }

    h4 {
      font-size: 24px;
      color: $m-01;
    }

    p {
      color: $neu-09;
      margin-left: 16px;
    }

    a {
      color: #ed7d29;
    }
  }

  &__bottomLeft {
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include sm {
      // cột
      display: flex;
      flex-direction: column;
    }
    
  }
  &__btn {
    padding: 0 32px;
   margin-right: 16px;
    height: 32px;
    background-color: #05aff2;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease;
    display: flex;
    
    align-items: center;
    margin-bottom: 10px;

    &:hover {
      opacity: 0.7;
    }
    @include sm {
       display: flex;
        justify-content: center;
      width: 100%;
      margin-right: 0;
    }
  }
  &__btn_2 {
    padding: 0 32px;
    margin-right: 16px;
    height: 32px;
    background-color: #ED7D29;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    &:hover {
      opacity: 0.7;
    }
    @include sm {
       display: flex;
        justify-content: center;
      width: 100%;
        margin-right: 0;
    }
  }

  &__btn_3 {
    padding: 0 32px;
     margin-right: 16px;
    height: 32px;
    background-color: 
#4abc96;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    &:hover {
      opacity: 0.7;
    }
    @include sm {
       display: flex;
        justify-content: center;
      width: 100%;
      
    }
  }

  &__link{
    color: #0487D9 !important;
    text-decoration: none;
       display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }


   &__btn_4 {
    padding: 0 32px;
     margin-right: 16px;
    height: 32px;
    background-color: #D4D4D4;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    &:hover {
      opacity: 0.7;
    }
    @include sm {
       display: flex;
        justify-content: center;
      width: 100%;
      
    }
  }
    &__btn_share {
    padding: 0 32px;
 
    height: 32px;
    background-color: #F1F1F1;
    border-radius: 20px;
    color: #666666;
    cursor: pointer;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-left: auto; // Add this line to align the button to the right
    
    &:hover {
      opacity: 0.7;
    }
    @include sm {
       display: flex;
        justify-content: center;
      width: 100%;
      
    }
  }

  &__btn2 {
   

    &:hover {
      opacity: 0.7;
    }
    @include sm {
       display: inline ;
        justify-content: center;
    padding: 0 32px;
    height: 32px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    }
  }

  &__cards {
    background-color: #05aff2;
    padding: 32px;
    // height: 400px;
    border-radius: 8px;
    margin: 32px 0;
  }

  &__cardsWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 32px;

    @include lg {
      grid-template-columns: 1fr;
    }
  }

  &__searchBar {
    height: 40px;
    display: flex;
    align-items: center;
    position: relative;

    svg {
      position: absolute;
      left: 16px;
      z-index: 2;
    }

    &__input {
      height: 40px;
      background-color: white;
      width: 73%;
      border-radius: 8px;
      padding: 0px 200px 0 40px;
    }

    select {
      // position: absolute;
      // z-index: 2;
      // right: 200px;
         padding: 0 32px;
      background-color: #f1f1f1;
      border-radius: 4px;
      height: 40px;
       margin-left: 16px;
    }
  }

  &__btnSearch {
    padding: 0 32px;
    border-radius: 8px;
    background-color: #f58218;
    color: white;
    height: 40px;
    margin-left: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  // nút đề xuất
  &__btnSuggest {
    width: 200px;
    padding: 0 18px;
    margin-bottom: 16px;
    border-radius: 40px;
    background-color: white;
    color: #05AFF2;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    // hover
    &:hover {
      opacity: 0.7;
    }
    svg {
      margin-right: 8px;
    }
  }

  &__image {
   
    img {
      width: 100%;
      // nằm trong khung
      // border-radius: 8px;
      
    }
  }

  &__card {
    border-radius: 10px;
    background-color: white;
    color: $neu-09;
    transition: all 0.2s ease;

    &:hover {
      transform: translateY(-4px);
    }

    h4 {
      padding: 0 16px;
      margin-top: 8px;
    }
  }

  &__cardBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    margin-top: 24px;

    div {
      display: flex;
    }

    img {
      width: 48px;
      height: 48px;
    }
  }

  &__iconArrow {
    width: 24px !important;
    height: 24px !important;
  }

  &__cardText {
    display: flex;
    flex-direction: column;
    p {
      padding: 0;
    }
  }

  &__btnWrapper{
    display: flex;
  }

  &__btnJoin {
    padding: 0 32px;
    border-radius: 8px;
    background-color: #05aff2;
    color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      opacity: 0.7;
    }
  } 
}
