// variables
@import "../../styles/variables.scss";

.relatedPages {
  width: 100%;
  margin-top: 92px;

  &__wrapper {
    padding: 0 32px;

    @include sm {
      padding: 0 0;
    }
    h4 {
      font-family: Mulish;
font-size: 18px;
font-weight: 800;
line-height: 22.59px;
text-align: left;
color: 
#666666;
      margin-bottom: 32px;
      @include font-s;
      font-weight: bold;
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
    padding: 20px;
    background-color: #FBFBFB;
    border-radius: 4px;
    border: solid 1px $neu-06;

    @include md {
      grid-template-columns: repeat(2, 1fr);
    }

    @include sm {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    transition: all 0.2s ease;
    position: relative;
   
    &:hover {
      opacity: 0.7;
    }
  }
}