// variables
@import "../../styles/variables.scss";

.policy {
  width: 100%;
  max-width: 400px;
  padding-top: 100px;
  padding-bottom: 80px;
  background-color: #F9F9F9;
  border-left: solid 1px $neu-06;

  @include sm {
    display: none;
  }

  &__wrapper {
    padding: 0 24px;
    position: sticky;
    top: 100px;

    @include sm {
      padding: 0 16px;
    }
  }
  
  &__card {
    margin-bottom: 24px;
    color: #505050;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 800;
    line-height: 20.08px;
    text-align: left;
    display: block;
    transition: all 0.2s ease;

    &:hover {
      opacity: 0.7;
    }
  }
}