// variables
@import "../../styles/variables.scss";

.highlightSlider {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 34px;
  margin-bottom: 40px;
  padding: 64px 0px !important;

  @include sm {
    margin-top: 40px;
    margin-bottom: 32px;
    padding: 48px 24px !important;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__card {
    background-color: #f5f5f5;
    padding: 16px;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    transition: all 0.2s ease;

    &:hover {
      opacity: 0.7;
    }
  }

  &__image {
    margin-top: -64px;
    img {
      width: 100%;
    }
  }

  &__text {
    text-align: center;
    margin: 24px 0;
  }

  &__title {
    color: $m-01;
    margin: 8px 0;
    font-size: 20px;
    // @include font-s;
    font-weight: bold;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    visibility: visible;
  }

  &__desc {
    color: $neu-09;
    max-width: 200px;
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    visibility: visible;
  }
}
